<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @document_type.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document_type.description %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @document_type.observation %>
</p>

<%= link_to 'Edit', edit_document_type_path(@document_type) %> |
<%= link_to 'Back', document_types_path %>
